@media (min-width: 1200px) {
	.container {
		padding: 0;
		width: 1180px;
	}
}
@media (max-width: 1024px) {
	.logo{float: none !important;text-align: center;padding-bottom: 30px;}
	.header-right-info {float: none !important;padding-left: 10%;}
	.navigation .nav-header > ul > li > a {padding: 23px 12px;}
	.single-call-to-action .content-box h3 {font-size: 20px;}
	.single-specialize {padding: 0 30px;}
	.single-specialize br {display: none;}
	.full-sec .full-sec-content {padding-bottom: 70px;}
	.single-service-home .icon-box, .single-service-home .content {display: block;}
	.single-service-home .inner-box {margin-left: auto;margin-right: auto;}
	.single-service-home .content {text-align: center;position: relative;z-index: 4;padding-top: 25px;}
	.home-appointment-form .form-grp .single-form input {width: 420px;margin-bottom: 20px;}
}
@media (max-width: 768px) {
	.header-right-info {padding: 0;}
	.single-header-info .icon-box, .single-header-info .content {display: block;}
	.single-header-info .icon-box .inner-box {margin-left: auto;margin-right: auto;}
	.single-header-info .content {text-align: center;margin-top: 15px;}
	.single-header-info .thm-btn {margin: 37px 0;}
	.single-call-to-action {height: 200px;}
	.single-call-to-action .icon-box i.flaticon-coins, .single-call-to-action .icon-box i.flaticon-medical, .single-call-to-action .icon-box i.flaticon-clock {position: static;}
	.offer-wrapper:after, .offer-wrapper:before, .offer-wrapper .has-overlay:before, .offer-wrapper .has-overlay:after {width: 100%;height: 50%;}
	.offer-wrapper:before , .offer-wrapper .has-overlay:before {top: auto;bottom:0;}
	.img-masonary {margin-top: 80px;}
	.fact-counter-wrapper {text-align: center;}
	.single-team-member .img-box {display: block;}
	.footer-call-to-action {text-align: center;}
	.footer-call-to-action a.thm-btn {float: none !important;}
	.footer-widget {margin-bottom: 50px;}
	.footer {padding-bottom: 60px;}
	.single-blog-post{margin-bottom: 50px;}
	.blog-home {padding-bottom: 40px;}
}
@media (max-width: 480px) {
	.top-bar .left-text {float: none !important;text-align: center;}
	.social-icons {float: none !important;text-align: center;}
	.social-icons ul li a {border-top: 1px solid #EAEAEA;margin-left: -4px;}
	.single-header-info:last-child {float: none;width: 100%;text-align: center;}
	.full-sec .full-sec-content {padding-left: 30px;padding-right: 30px; }
	.full-sec h3 {font-size: 27px;}
	.full-sec h3 br {display: none;}
	.single-offer.right {padding-left: 0;}
	.faq-home .accrodion .accrodion-title h4 {font-size: 15px;}
	.faq-home .img-masonary .img-w1 {width: 100%;}
	.faq-home .img-masonary .img-w1 img {margin-left: auto;margin-right: auto;display: block;}
	.fact-counter-wrapper h2 br {display: none;}
	.team-carousel .owl-controls {top: -70px;}
	.single-blog-post {width: 85%;margin-left: auto;margin-right: auto;}
	.footer-widget {width: 80%;margin-left: auto;margin-right: auto;}
	.home-appointment-form .form-grp .single-form {width: 100%;}
	.home-appointment-form .form-grp .single-form input {width: 100%;}
	.col-4 .single-specialize {padding-right: 0;width: 85%;margin-left: auto;margin-right: auto;}
	.meet-volunteers.team-page .single-team-member {width: 85%;margin-left: auto;margin-right: auto;}
	.single-team-member .img-box img {width: 100%;}
	.single-award {width: 50%;margin-bottom: 20px;}
	.single-sidebar-widget {width: 80%;margin-left: auto;margin-right: auto;}
	.call-to-action.boxed .single-call-to-action .content-box {width: 100%;padding: 0;}
	.faq-home .accrodion .accrodion-title h4 span.text {display: inline-block;width: 70%;font-size: 18px;}
	.faq-home .accrodion .accrodion-title h4 span.decor {vertical-align: top;margin-top: 15px;}
    .promote-project.style-inner a.thm-btn {margin-bottom: 15px;}
}
@media (max-width: 375px) {
	.single-header-info {float: none;text-align: center;padding: 0;}
	.top-bar .left-text p {line-height: 20px; padding: 14px 0;}
	.mainmenu-area .search-box {width: 230px;}
	.single-call-to-action {display: block;height: auto;padding: 50px 0;}
	.single-call-to-action .icon-box, .single-call-to-action .content-box {display: block;text-align: center;}
	.single-call-to-action .icon-box i.flaticon-circle {bottom: 0px;}
	.call-to-action-center .single-call-to-action .icon-box {bottom: 0;}
	.single-call-to-action .content-box p {margin-bottom: 20px;}
	.single-call-to-action .icon-box {margin-left: auto;margin-right: auto;}
	.single-call-to-action .content-box {width: 100%;}
	.single-call-to-action .content-box ul li {width: 100%;}
	.footer-widget {width: 90%;margin-left: auto;margin-right: auto;}
}


/* revolution slider fix styles */

@media (max-width: 650px) {
	.tp-caption {display: none !important;}
}

/* menu responsive styles */

@media (max-width: 1024px) {
	.navigation {position: static;}
	.mainmenu-area .container {position: relative;}
	.navigation .nav-header {display: none;position: absolute;top: 100%;left:0;width: 100%;background: #262F36;z-index: 9999;max-height: 70vh;overflow: auto;}
	
	.navigation .nav-footer {display: block;}
	.navigation .nav-footer button {width: 40px;height: 40px;background: #0ebfe5;color: #fff;border: none;outline: none;font-size: 18px;margin: 15px 0;}
	.navigation .nav-header > ul > li {display: block;width: 100%;}
	.navigation .nav-header > ul > li > a, .navigation .nav-header > ul > li:first-child > a {padding: 14px 19px; background: #0ebfe5;border-bottom: 1px solid #fff;}
	.navigation .nav-header .dropdown a {position: relative;}
	.navigation .nav-header .dropdown a button {
		bottom: 0;
		left: 0;
		opacity: 0;
		position: absolute;
		right: 0;
		top: 0;
		width: 100%;
		z-index: 9999;
    }
	.navigation .nav-header ul li.dropdown a:after{
	    font-family: 'FontAwesome';
	    content: "\f107";
	    position:absolute;
	    right:15px;
	    top:20px;
	    width:10px;
	    height:20px;
	    display:block;
	    color:#ffffff;
	    line-height:20px;
	    font-size:16px;
	    text-align:center;
	    z-index:0;
	}
	.navigation .nav-header ul li.dropdown ul li a:after{
	    display: none;
	}
	.navigation .nav-header ul .dropdown:first-child a::after {
	    top: 12px;
	}
	.navigation .nav-header > ul > li:hover > a {color: #fff;}
	.navigation .nav-header > ul > li > ul {position: relative;display: none;opacity: 1;visibility: visible;width: 100%;transition: none;}
}

@media (max-width: 1199px) {
	.fact-counter-wrapper .fact-inner a.thm-btn {
		margin-bottom: 40px;
	}
	.about-content .full-sec-content {
		margin-bottom: 30px;
	}
	.event-feature-inner .event .event-content {
		padding-bottom: 30px;
		padding-left: 20px;
	}
	.volunteer-profile .profile-img {
		margin-bottom: 15px;
	}
	.md-col6-center {
		display: block;
		float: none;
		margin-left: auto;
		margin-right: auto;
		max-width: 600px;
	}
	.header-right-info {
	  float: none !important;
	  padding-left: 10%;
	}
	.logo { 
	   float: none !important;
	   text-align: center;
	   padding-bottom: 30px;
	}
	.mainmenu-area .search-box {
	   /*width: 100%;*/
	}
	.welcome-content {
	   padding: 25px 20px;
	}
	.welcome-content .welcome-title {
		font-size: 20px;
	}
	.welcome-project .thumb .overlay a {
		width: 48.7%;
	}
	.event-post .thumb .overlay a {
	    width: 49.2%;
	}
	.single-call-to-action .content-box p br {
		display: none;
	}
	.recent-causes .causes .causes-details .thm-btn {
		padding: 8px 10px !important;
	}
	.single-service-style .single-service-home {
		padding: 30px 11px;
	}
	.single-service-style.causes-style2 .single-service-home {
		padding: 45px 40px;
	}
	.featured-causes .causes-details {
	    padding-left: 20px;
	}
	.md-text-center {
		text-align: center;
	}
}

@media (max-width: 991px) {
	.fact-counter-wrapper .fact-inner {
		text-align: center;
	}
	.blog-home .blogs-inner {
		display: block;
		float: none;
		margin-bottom: 40px;
		margin-left: auto;
		margin-right: auto;
		max-width: 500px;
	}	
	.sidebar-inner {
		margin-top: 60px;
	}
	.sidebar-inner .side-bar-widget {
		margin-left: 0;
	}
	.sm-col5-center {
		display: block;
		float: none;
		margin-left: auto;
		margin-right: auto;
		max-width: 500px;
	}
	#contact-page-contact-form .thm-btn {
		margin-bottom: 60px;
	}
	.sm-text-center {
		text-align: center;
	}
	.header-right-info {
	  float: none !important;
	  padding-left: 2%;
	}
	.header-right-info .single-header-info {
	  float: left;
	  padding-left: 20px;
	}	
	.header-right-info .single-header-info:first-child {
	  padding-left: 0;
	}
	.navigation .nav-header > ul > li > a {
	  padding: 23px 11px;
	}	
	.welcome-content {
	   display: block;
	   margin-bottom: 30px;
	   padding: 50px 20px;
	}
	.welcome-content .welcome-title {
		font-size: 26px;
	}
	.welcome-projects .inner {
		padding: 0 15px;
	}
	.welcome-project {
		margin-bottom: 30px;
	}
	.welcome-project .thumb img {
		width: 100%;
	}
	.welcome-project .thumb .overlay a {
		width: 49.396%;
	}
	.event-post {
		display: block;
	    float: none;
	    margin-left: auto;
	    margin-right: auto;
	    max-width: 500px;
	}
	.event-post .thumb img {
		width: 100%;
	}
	.event-post .thumb .overlay a {
	    width: 49.58%;
	}
	.events-grid .event-post .thumb .overlay a {
	    width: 49.3%;
	}
	.single-call-to-action .icon-box {
		bottom: 0;
	}
	.recent-causes .causes {
		margin-bottom: 30px;
	}
	.recent-causes .causes .causes-details .thm-btn {
		padding: 8px 11px !important;
	}
	.single-service-style .single-service-home {
		padding: 30px 23px;
	}
	.single-service-style.causes-style2 .single-service-home {
	    padding: 45px 35px;
	}
	.team-carousel .owl-controls {
	  position: absolute;
	  right: 0;
	  top: -155px;
	}
	.footer {
	  padding-bottom: 40px;
	}
	.footer-widget {
	  margin-bottom: 50px;
	}
}

@media (max-width: 768px) {
	.mainmenu-area .search-box {
	    width: auto;
	}
	.header-right-info .single-header-info {
	    width: 50%;
	}
	.header-right-info .single-header-info:last-child {
	    display: inline-block;
	    width: 100%;
	    margin-left: auto;
	    margin-right: auto;
	    text-align: center;
	}
	.header-right-info .single-header-info:last-child .thm-btn {
	    margin: 37px 20px 0;
	}
	.welcome-project .thumb .overlay {
		bottom: -53px;
		text-align: center;
	}
	.welcome-project .thumb .overlay a {
		font-size: 13px;
		line-height: 30px;
		padding: 15px 0 7px;
		width: 49.2%;
	}
}

@media (max-width: 767px) {
	.pull-sm-none {
		float: none !important;
	}
	.single-header-info .modal-dialog.style-one {
	  margin: 30px 15px !important;
	  width: auto;
	}
	.event-feature .event .event-content .event-title {
	  margin-top: 15px;
	}
	.event-feature .event.style-two .event-content .event-title {
	  margin-top: 0;
	}
	.event-post .thumb .overlay a {
	  width: 49.53%;
	}
	.featured-causes .causes-details {
	  padding: 0 20px 15px;
	}
	.featured-causes .causes-details h3 {
	  margin-top: 20px;
	}
	.gallery-section .filter-tabs li {
	  font-size: 11px;
	  margin: 0 5px 10px;
	  padding: 10px;
	}
	.gallery-section .image-box .btn-zoom .icon {
	  font-size: 24px;
	}
	.team-carousel .owl-controls {
	  position: absolute;
	  right: 0;
	  top: -60px;
	}
	.footer .container {
	  display: block;
	  float: none;
	  margin-left: auto;
	  margin-right: auto;
	  max-width: 400px;
	}
}

@media (max-width: 600px) {
	.home-appointment-form {
	  margin: 0;
	}
	.gallery-section .filter-tabs li {
	  font-size: 11px;
	  margin: 0 3px 10px;
	  padding: 7px 8px;
	}
}

@media (max-width: 480px) {
	.events-single .event-content .thm-btn.inverse {
		margin-bottom: 15px;
	}
	.parallax-section .promote-project .thm-btn{
		margin-bottom: 10px;
	}
	.logo a img {
		width: 250px;
	}
	.header-right-info {
	    padding: 0;
	    text-align: center;
	    display: block;
	    margin: 0 auto;
	    max-width: 245px;
	}
	.header-right-info .single-header-info {
		padding-left: 0;
		width: auto;
	}
	.header-right-info .single-header-info:first-child {
	    margin-bottom: 15px;
	}
	.single-header-info .icon-box,
	.single-header-info .content {
		display: inline-block;
		text-align: left;
	}
	.single-header-info .icon-box .inner-box {
	    height: 48px;
	    line-height: 48px;
	    width: 48px;
	}
	.single-header-info .icon-box .inner-box i:before {
	    font-size: 20px;
	}
	.single-header-info .content {
		margin-left: 10px;
	    margin-top: 0;
	}
	.mainmenu-area .search-box input {
	    max-width: 160px;
	}
	.mainmenu-area .search-box {
		padding: 0 10px;
	}
	.promote-project h2 {
		font-size: 24px;
	}
	.event-post .thumb .overlay a {
		width: 49.3%;
	}
}

@media (max-width: 360px) {
	.event-post .thumb .overlay a {
	    width: 49.1%;
	}
	.events-grid .event-post .thumb .overlay a {
	    width: 49.19%;
	}
}


@media (max-width: 768px) {
	.single-header-info .icon-box, .single-header-info .content {display: table-cell;vertical-align: middle;}
	.single-header-info .content {text-align: left;padding-left: 20px;}
}
@media (max-width: 640px) {
	.gallery-section.full-width .image-box {width: 50%;}
	.team-carousel .owl-controls {position: relative;margin: 0;top: auto;margin-top: 20px;text-align: left;}
	.team-carousel .owl-controls .owl-nav {position: relative;margin: 0;top: auto;margin-top: 20px;text-align: left;margin-left: -15px;}
	.team-carousel .owl-controls .owl-nav [class*="owl-"] {text-align: center;}
	.testimonaials-carousel .owl-nav {margin-top: 20px;}
}
@media (max-width: 480px) {
	.gallery-section.full-width .image-box {width: 50%;}
}
@media (max-width: 375px) {
	.gallery-section.full-width .image-box {width: 100%;}
}